.large-4.columns
	%img{:src => "/assets/imagedemoi2.jpg", :style => "width:80%;border-radius:8px;"}
.large-8.columns
	.subheader1
		Hi guys,

		%br/
		%br/
		Some info about myself:
		%br/
		%br/
		I'm Laurent, I'm swiss and I established and developped my own company called HeyImagine! in 2011. My main goal was to change the way the World is working by redirecting money from online advertising to global causes. By providing users the tool to interact with something they usually hate (online advertising), the idea was to finance and solve global issues on Earth while giving the opportunity to advertisers to reach millions of consumers and sell more products in a ethical way. Using economic principles (Pareto Efficiency), social connections/interactions among web users and the power of capitalism, change was possible. 


		%br/
		%br/
		Computer skills: HTML, CSS, CoffeeScript, Photoshop, RubyOnRails, Zurb Foundation, Backbone, Scala


		%br/
		%br/
		Find me on:
		%span.listsn
			%ul{:style => "display:inline;list-style:none;"}
				%li
					=link_to image_tag("/assets/gbiconof.png"),"https://github.com/lawrobi", :style => "width:40px;"
				%li
					=link_to image_tag("/assets/twitter.png"),"https://twitter.com/laurentnussbaum", :style => "width:40px;"
				%li
					=link_to image_tag("/assets/gbicon.png"), "https://www.facebook.com/laurent.nussbaum", :style => "width:40px;"

