%h3.subheader1.imgblack{:style => "text-align:center;"}
	Connect with me on HeyImagine! 
	=link_to image_tag("/assets/blackrabbit.png"),"http://www.heyimagine.org/users/laurent-nussbaum", :style => "width:40px;"
	%br/
	%br/
	Enjoy the visit
