%dl.tabs{"data-tab" => "", :style => "background-color:grey;"}
  %dd.active
    %a{href: "#panel2-1"} Company/Website
  %dd
    %a{href: "#panel2-2"} Book
  %dd
    %a{href: "#panel2-3"} Photography/illustrations
.tabs-content
  #panel2-1.content.active.subheader1
    Work experience: HeyImagine! Inc. (Founder, Developer)
    %br/
    %br/
    .row
      .large-4.columns.medium-4.small-4
        %img{:src => "/assets/heyexamples.png"}
        %br/
        %br/
        %img{:src => "/assets/adexamples.png", :style => "width:100%;"}

      .large-8.columns.medium-8.small-8.heylist
        I started learning and developing my computer skills in November 2012. In less than a year, I developed the entire platform HeyImagine!, including the following functions:
        %br/
        %ul
          %li
            A news feed based on followed users
          %li
            An integrated ad system using the Stripe payment system API. 
          %li
            A system of notifications
          %li
            A system of connections between posts and ads, generating money for users and global causes
          %li
            A system of connections among users
          %li
            A search engine
          %li
            A fully operational profile page experience (UI/UX)
          %li
            Designed all the logos, the pages and the commercial image of HeyImagine!  
  #panel2-2.content.subheader1
    .large-8.columns{:style => "text-align:justify;"}
      %h3.subheader1
        Coming Soon!
      "The life of Jade Mackellan crumbles in the streets of Boston on the night of her twentieth birthday. Her dreams of Broadway vanish for good on the frozen asphalt.  She will never dance again.
      %br/
      %br/
      A year later, shattered and broken, neither her family nor her friends are of any help to her.  Haunted by her demons, diminished by her physical state, she plunges unrelentingly into a state of despair until the day when, at the crossing of paths, Jade meets Zach, a 23-year-old former drug addict turned wandering recluse.  Progressively, over the course of their daily meetings, she discovers in him her rebirth into a world that previously rejected her.
      %br/
      %br/
      But, many enigmas surround her benefactor. Shadowed by a mysterious past, equipped by the philosophy of an uncommon spirit and a striking charisma, Zachary Brahms attracts and fascinates… Who is he really?  And who are these ten men, hidden underneath their black coats, who follow him?
      %br/
      %br/
      Jade will begin to see that their relationship exceeds all that she ever thought imaginable and reaches the highest spheres of the universe."
    .large-4.columns.medium-4
      %img{:src => "/assets/beyond.jpg"}  
  #panel2-3.content.photo.content1
    %ul{:style => "list-style:none;"}
      %li
        %img{:src => "/assets/amanda1.jpg"}
      %li
        %img{:src => "/assets/valerie.jpg"}
      %li
        %img{:src => "/assets/mainble.jpg"}
      %li
        %img{:src => "/assets/amanda3.jpg"}
      %li
        %img{:src => "/assets/amanda4.jpg"}
      %li
        %img{:src => "/assets/dove.jpg"}
      %li
        %img{:src => "/assets/romain.jpg", :style => "float:left;"}
      %li
        %br/
        %object{height: "315", width: "560"}
          %param{name: "movie", value: "//www.youtube.com/v/svh22WdTT1k?hl=fr_FR&version=3"}/
          %param{name: "allowFullScreen", value: "true"}/
          %param{name: "allowscriptaccess", value: "always"}/
          %embed{allowfullscreen: "true", allowscriptaccess: "always", height: "315", src: "//www.youtube.com/v/svh22WdTT1k?hl=fr_FR&version=3", type: "application/x-shockwave-flash", width: "560"}


