%dl.tabs{"data-tab" => "", :style => "background-color:grey;"}
  %dd.active
    %a{href: "#panel2-1"} Company/Website
  %dd
    %a{href: "#panel2-2"} Book
  %dd
    %a{href: "#panel2-3"} Photography/illustrations
.tabs-content
  #panel2-1.content.active
    %p First panel content goes here...
  #panel2-2.content.subheader1
    .large-8.columns{:style => "text-align:justify;"}
      %h3.subheader1
        Coming Soon!
      "The life of Jade Mackellan crumbles in the streets of Boston on the night of her twentieth birthday. Her dreams of Broadway vanish for good on the frozen asphalt.  She will never dance again.
      %br/
      %br/
      A year later, shattered and broken, neither her family nor her friends are of any help to her.  Haunted by her demons, diminished by her physical state, she plunges unrelentingly into a state of despair until the day when, at the crossing of paths, Jade meets Zach, a 23-year-old former drug addict turned wandering recluse.  Progressively, over the course of their daily meetings, she discovers in him her rebirth into a world that previously rejected her.
      %br/
      %br/
      But, many enigmas surround her benefactor. Shadowed by a mysterious past, equipped by the philosophy of an uncommon spirit and a striking charisma, Zachary Brahms attracts and fascinates… Who is he really?  And who are these ten men, hidden underneath their black coats, who follow him?
      %br/
      %br/
      Jade will begin to see that their relationship exceeds all that she ever thought imaginable and reaches the highest spheres of the universe."
    .large-4.columns
      %img{:src => "/assets/beyond.jpg"}  
  #panel2-3.content.photo
    %ul{:style => "list-style:none;"}
      %li
        %img{:src => "/assets/amanda1.jpg"}
      %li
        %img{:src => "/assets/amanda2.jpg"}
      %li
        %img{:src => "/assets/mainble.jpg"}
      %li
        %img{:src => "/assets/amanda3.jpg"}
      %li
        %img{:src => "/assets/amanda4.jpg"}
      %li
        %img{:src => "/assets/dove.jpg"}


